%p#notice= notice
%h1.title Locations
%table.table.is-striped.is-fullwidth
  %thead
    %tr
      %th Name
      %th City
      %th Attributes
      %th
  %tbody
    - @locations.each do |location|
      = render 'location', location: location, editable: true
%br/
= link_to new_location_path, class: 'button is-success' do
  %span.icon
    %i.material-icons add
  %span New Location
